@model tcc_in305b.ViewModels.TrocarJogadoresViewModel

<h2>Trocar Jogadores entre Equipes</h2>
<form asp-action="TrocarJogadores" method="post">
    <div class="form-group">
        <label>Nome do Jogador 1</label>
        <select name="player1Nome" class="form-control" required>
            <option value="">Selecione um jogador</option>
            @foreach (var jogador in ViewBag.Jogadores)
            {
                <option value="@jogador.Text">@jogador.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Nome do Jogador 2</label>
        <select name="player2Nome" class="form-control" required>
            <option value="">Selecione um jogador</option>
            @foreach (var jogador in ViewBag.Jogadores)
            {
                <option value="@jogador.Text">@jogador.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Trocar Jogadores</button>
</form>

