html[data-theme=light] {
  --color-text: black;
  --color-background: #fffefe;
  --color-background2: #e8edef;
  --color-text2: #272727;
}

html[data-theme=dark] {
  --color-text: white;
  --color-background: #0f0f0f;
  --color-background2: #272727;
  --color-text2: #272727;
}

.Est1 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  margin: 0;
}

.img_est1 {
  width: 20px;
  margin-left: 8px;
  cursor: pointer;
}

.d-flex {
  display: flex;
  align-items: center;
}

#message {
  margin-left: 35%;
}

.custom-icon {
  color: var(--color-text);
  outline: none;
}

.custom-icon:focus,
.custom-icon:hover {
  outline: none;
  border: none;
}
