$black: #0f0f0f;
$white: #fffefe;
$impure-white: #e8edef;
$impure-black: #272727;
$gray: #272727;

html[data-theme=light] {
    --color-text: black;
    --color-background: #{$white};
    --color-background2: #{$impure-white};
    --color-text2: #{$gray};

}

html[data-theme=dark] {
    --color-text: white;
    --color-background: #{$black};
    --color-background2: #{$impure-black};
    --color-text2: #{$gray};

}

.Est1 {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    margin: 0;
}

.img_est1 {
    width: 20px;
    margin-left: 8px;
    cursor: pointer;
}

.d-flex {
    display: flex;
    align-items: center;
}

#message {
    margin-left: 35%;
}

.custom-icon {
    color: var(--color-text);
    outline: none;
}

.custom-icon:focus,
.custom-icon:hover {
    outline: none;
    border: none;
}