@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

$black: #0f0f0f;
$white: #fffefe;
$impure-white: #e8edef;
$impure-black: #272727;
$gray: #272727;

html[data-theme=light] {
    --color-text: black;
    --color-background: #{$white};
    --color-background2: #{$impure-white};
    --color-background3: #fff;
    --color-text2: #{$gray};
    --color-text3: #{$black};
    --filter: none;
    --aba: #d5d8dc;
    --sombra: 0 0 15px rgba(0, 0, 0, 0.5);
}

html[data-theme=dark] {
    --color-text: white;
    --color-background: #{$black};
    --color-background2: #{$impure-black};
    --color-background3: #000;
    --color-text2: #{$gray};
    --color-text3: #{$white};
    --filter: invert(1);
    --aba: #353535;
    --sombra: 0 0 15px rgba(255, 255, 255, 0.5);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 60px;
    color: var(--color-text);
    background: var(--color-background);
    font-family: "Arial", sans-serif;
    line-height: 1.6;
}

@font-face {
    font-family: "blanka";
    src: url("blanka.otf");
}

#hero {
    margin-top: -20%;
    margin-bottom: 10%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    animation: fadeIn 2s ease;
}

#heroblanka {
    font-family: blanka;
    font-size: 48px;
}

#hero h1 {
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 20px;
    animation: slideIn 1.5s ease;
}

#hero p {
    font-size: 20px;
    max-width: 600px;
    animation: slideIn 1.8s ease;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.col {
    font-size: 20px;
    margin-bottom: 20px;
    color: #007BFF;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #007BFF;
    text-shadow: 0 0 10px #007BFF;
}

section p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-text);
}

#about {
    animation: fadeIn 1.5s ease;
}

#teams {
    animation: fadeIn 1.8s ease;
}

#tournaments {
    animation: fadeIn 2s ease;
}

footer {
    text-align: center;
    color: var(--color-text);
}


/*BLA*/




/* Funcionalidades Principais */
.features {
    padding: 50px 0;
    text-align: center;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #007BFF;
    text-shadow: 0 0 10px #007BFF;
}

.feature-card {
    background: var(--color-background2);
    border: 1px solid var(--color-text3);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.5s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.feature-card:hover {
    transform: scale(1.05) rotate(1deg);
}

.feature-card i {
    font-size: 3rem;
    color: #007BFF;
    margin-bottom: 15px;
}

.feature-card h4 {
    margin: 15px 0;
}

/* Depoimentos */
.testimonials {
    padding: 50px 20px;
    text-align: center;
}

.testimonial-card {
    display: inline-block;
    width: 280px;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    background: var(--color-background2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: #aaa;
    position: relative;
}

.testimonial-card:hover {
    box-shadow: 0 0 15px #007BFF;
}

.testimonial-card p {
    font-style: italic;
}


/*BLA*/


/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 55px;
    }

    #hero p {
        font-size: 16px;
    }

    section h2 {
        font-size: 28px;
    }
}
