$black: #0f0f0f;
$white: #fffefe;
$impure-white: #e8edef;
$impure-black: #272727;
$gray: #272727;

html[data-theme=light] {
    --color-text: black;
    --color-background: #{$white};
    --color-background2: #{$impure-white};
    --color-background3: #fff;
    --color-text2: #{$gray};
    --color-text3: #{$black};
    --filter: none;
}

html[data-theme=dark] {
    --color-text: white;
    --color-background: #{$black};
    --color-background2: #{$impure-black};
    --color-background3: #000;
    --color-text2: #{$gray};
    --color-text3: #{$white};
    --filter: invert(1);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
    margin-bottom: 60px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.cabecalho {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.perfil {
    display: flex;
    float: left;
}


.user-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 10px;
    margin-right: 15px;
}

.player_name {
    padding-top: 5%;
    display: inline-block;
    font-size: calc(1rem + 1vw); /* Fonte responsiva */
}

.lapis {
    font-size: calc(0.8rem + 1vw); /* Tamanho responsivo baseado na largura da viewport */
    margin-left: 10px;
    position: relative;
    top: 0.2rem; /* Ajuste fino para alinhar o ícone */
    transition: 0.5s;
    vertical-align: middle;
    color: var(--color-text)
}

.lapis:hover {
    font-size: calc(1rem + 1vw); /* Tamanho maior ao passar o mouse */
}

.elo {
    float: right;
    width: 80px;
    height: 80px;
}


.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.estatisticas {
    background-color: var(--color-background2);
    height: 10%;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    margin-top: 3%;
}

.estatisticas:hover {
    background-color: #c0c0c080;
}

.estatisticas table {
    width: 100%;
}

.estatistica {
    padding: 15px;
}


.jogador {
    display: flex;
    flex-direction: row;
}

.jogador img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 10px;
    margin-right: 15px;
}

.jogador h4 {
    margin-top: 6%;
    margin-left: 5px;
}

#treinos {
    border-radius: 20px;
    background-color: var(--color-background2) !important;
    color: var(--color-text);
    border: none;
}

#treinos:hover {
    background-color: #c0c0c0 !important;
}

#fincad {
    width: 20%;
}