body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.container {
    display: flex;
    justify-content: space-between; /* Espaço entre as colunas */
    margin: 0px;
    padding: 0px;
    gap: 20px; /* Espaço entre os elementos */
    width: 90vw;
    max-width: 1800px;
}

.conteudo-esquerdo {
    flex: 1;
}

.conteudo-direito {
    flex: 2;
    padding-right: 50px;
}

.conteudo-players {
    flex: 1;
}

.round-conteudo strong, .round-conteudo .data {
    font-size: 20px;
}

.round-conteudo {
    display: flex;
    margin-bottom: 10px;
}

.round-conteudo .data {
    position: absolute;
    margin-left: 95px;
}

.round-icones {
    position: absolute;
    margin-left: 220px;
    margin-top: 0px;
}

.round-icones .lixeira-round {
    font-size: 13px;
}

.equipe-item {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: grab;
}

.equipe-item.dragging {
    opacity: 0.5;
    border: 2px dashed #007bff;
}

.equipe-item-sm {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: auto;
}

.equipe-item-sm.dragging {
    opacity: 0.5;
    border: 2px dashed #007bff;
}

.equipes-container {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.partidas-list {
    list-style: none;
    padding: 0;
}