$black: #0f0f0f;
$white: #fffefe;
$impure-white: #e8edef;
$impure-black: #272727;
$gray: #272727;

html[data-theme=light] {
    --color-text: black;
    --color-background: #{$white};
    --color-background2: #{$impure-white};
    --color-background3: #fff;
    --color-text2: #{$gray};
    --color-text3: #{$black};
    --filter: none;
    --aba: #d5d8dc;
}

html[data-theme=dark] {
    --color-text: white;
    --color-background: #{$black};
    --color-background2: #{$impure-black};
    --color-background3: #000;
    --color-text2: #{$gray};
    --color-text3: #{$white};
    --filter: invert(1);
    --aba: #353535;
}

@font-face {
    font-family: "blanka";
    src: url("blanka.otf");
}

.container {
    max-width: 800px;
    text-align: center;
}

.welcome {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.welcome h1 {
    font-size: 2.5em;
    line-height: 1;
    margin: 0;
    margin-top: -20px;
    font-family: 'Century Gothic';
    font-weight: bold;
}

.user-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 10px;
    margin-right: 15px;
}




/* Estatísticas rápidas */
.quick-stats {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-background2);
    padding-top: 3%;
    border-radius: 20px;
    margin-top: 10%;
    margin-bottom: 20px;
    transition: 0.5s;
}

.stat-item h3 {
    font-size: 26px;
    color: #007bff;
    font-family: Arial;
    font-weight: 600;
}

.stat-item p {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-text);
}

.quick-stats:hover {
    background-color: var(--aba);
}

/* Atividades e Treinos */
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.activities {
    width: 48%;
    text-align: left;
}

.trainings {
    width: 48%;
    text-align: right;
}

.activities h3, .trainings h3 {
    color: #007bff;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial;
    font-weight: bold;
}

.activities ul, .trainings ul {
    list-style: none;
}

.activities li, .trainings li {
    margin-bottom: 8px;
}

.activities ul {
    padding-left: 0;
}

.welcome h1{
    color: var(--color-text);
}

.quick-stats {
    background-color: var(--color-background2);
}


